
.accordionWithQuestion {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.all_que_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 50px;
  a{
    text-decoration: underline;
    color: rgb(0, 0, 238);
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: rgb(85, 26, 139);
    }
    &:active {
      color: #0a4891;
    }
  }
}

.que_with_ans{
 
  .list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
  }
  a{
    text-decoration: none;
    color: rgb(10, 72, 145);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin: 0;
    padding: 0;
   
    *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 16px;
    }
    strong{
      font-weight: bold !important;
    }
  }
}